<div class="contain mt-5 p-5 body1">
    <form [formGroup]="searchForm" (ngSubmit)="submitForm()">
        <div class="row">
            <div class="mb-3 col-lg-10">
                <input type="text" class="form-control" formControlName="movieName" placeholder="Serch Movie Here ...">
            </div>
            <div class="col-lg-2">
                <button class="btn btn-md">Serch</button>
            </div>
        </div>
    </form>
    <div class="row mt-4">
       
        <div class="rowposter mt-3 p-2">
            <ng-container *ngFor="let a of searchResult">
            
                <img *ngIf="  a.show.image.original" (click)="handleNextPage(a)" src="{{ a.show.image.original 
                }}
               " class="rowimg largeposter" alt="..."  />
       
            </ng-container>
        </div>
    </div>
    <!-- <div class="row mt-5">
        <div class="col-lg-4" *ngFor="let s of searchResult">
            <div class="row">
                <div class="col-lg-3 mt-4 mb-4" *ngIf="s.show
                ">
                    <img src="{{ s.show.image.original 
                    }}">
                </div>
                <div class="col-lg-9 mt-4 mb-4">
                    <h5>{{s.name
                        }}</h5>
                </div>
            </div>
        </div>
    </div>
</div> -->