
<!-- navbar start  -->
<nav class="navbar navbar-expand-lg fixed-top"  [ngStyle]="navbar">
  <div class="container-fluid">
    <div class="small-6 medium-3 large-2 columns">
      <a href="/">
          <img id="logo" src="https://static.tvmaze.com/images/tvm-header-logo.png" style="height: 50px;" alt="TVmaze" title="Keep track of your shows. TV calendar, TV watchlist, TV information database, REST TV API and more.">
      </a>
  </div>
    <hr>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#" style="font-size: 30px; font-weight: 600; margin-left: 10px;"  routerLink="home">Home</a>
          </li>
        <mat-icon aria-hidden="false" aria-label="Example home icon nav-link" style="color: white;margin-left: 1100px; font-size: 30px; font-weight: 600;" fontIcon="search" routerLink="search">search</mat-icon>
      </ul>
    </div>
  </div>
</nav>
<!-- navbar end  -->

<router-outlet></router-outlet>