.navbar{
    background-color: #3f3f3f;
}
.navbar .navbar-brand
{
    color: #3c948b;
    font-weight: bold;
    height: 0px;

}

.navbar-nav .nav-item .nav-link
{
    color: #3c948b;
}
.body1{
    background-color: #eaf8f6;
}
// button
// {
//     background-color: #E50914;
//     color: #ffffff;
// }

// button:hover
// {
//     background-color: #E50914;
//     color: #ffffff;
// }

// img{
//     width: 100%;
//     cursor: pointer;
// }

// h5
// {
//     color: #ffffff;
// }